<!-- Clock Text -->
<div class="column dark">
    <div class="create-countdown">
        <div class="row input-title">
            <input class="title" name="title" placeholder="Board Meeting" [(ngModel)]="title">
        </div>
        <div class="row">
            on
        </div>
        <div class="row input-date">
            <input class="year" name="year" placeholder="2020" [(ngModel)]="year">
            <div class="divider">/</div>
            <input class="month" name="month" placeholder="12" [(ngModel)]="month">
            <div class="divider">/</div>
            <input class="day" name="day" placeholder="30" [(ngModel)]="day">
        </div>
        <div class="row">
            at
        </div>
        <div class="row input-time">
            <input class="hour" name="hour" placeholder="18" [(ngModel)]="hour">
            <div class="divider">:</div>
            <input class="minute" name="minute" placeholder="30" [(ngModel)]="minute">
        </div>
        <div class="row">
            <a class="a-button" (click)="create()">Create</a>
        </div>
    </div>
</div>

<!-- Rounded switch -->
<label class="switch no-select">
    <input id="theme" (change)="themeChange()" [(ngModel)]="theme" type="checkbox">
    <span class="slider round"></span>
</label>
