/* You can add global styles to this file, and also import other style files */

:root {
    --transition-time: .6s;
}

html {
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
}

[data-theme="dark"] {
    --color-bg: #222222;
    --input-bg: #292929;
    --slider-bg: #444444;
    --button-bg: #444444;
    --slider-dot: #dddddd;
    --color: #dddddd;
}

[data-theme="light"] {
    --color-bg: #ffffff;
    --input-bg: #f6f6f6;
    --slider-bg: #dddddd;
    --button-bg: #607d8b;
    --slider-dot: #222222;
    --color: #000000;
}

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0.8rem 0 0.8rem 0;
}

body {
    margin: 0;
}

.column {
    background-color: var(--color-bg);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
}

.clock {
    display: flex;
    flex-direction: row;
    color: var(--color);
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
}

.create-countdown {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.row {
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: var(--color);
}

.countdown-title {
    color: var(--color);
    text-align: center;
    margin-bottom: 1rem;
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
}

.countdown-units {
    display: flex;
    flex-direction: row;
}

.unit {
    text-align: center;
    margin: 0 0.2vw 0 0.2vw;
}

.unit > h1 {
    font-size: 12vw;
    font-weight: 300;
}

.unit > h2 {
    font-size: 1.3vw;
    font-weight: 300;
    margin: 0;
}

/* --------------- Input Fields -------------- */

input:focus {
    outline: none;
}

.input-title, .input-date, .input-time {
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
    background-color: var(--input-bg);
}

.input-title > input, .input-date > input, .input-time > input {
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
    height: 3rem;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: var(--color);
    text-align: center;
}

.divider {
    line-height: 3rem;
    color: #999999;
}

.input-title > input {
    width: 100%;
}

.year {
    width: 6rem;
}

.month {
    width: 3rem;
}

.day {
    width: 3rem;
}

.hour {
    width: 3rem;
}

.minute {
    width: 3rem;
}


/* ---------------- A Tag Buttons ---------------- */

a:hover {
    cursor: pointer;
}

.a-button, .a-button:visited, .a-button:active  {
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #dddddd;
    background-color: var(--button-bg);
    user-select: none;
}
  
.a-button:hover {
    color: #dddddd;
    background-color: rgba(69, 90, 100, 1.0);
}



/* ------------------- Input Slider ------------------ */

/* The switch - the box around the slider */
.switch {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 60px;
    height: 34px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg);
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);

}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--slider-dot);
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*
CSS Alterations For Mobile Devices
*/
@media (max-width: 991.98px) {

    .clock {
        font-size: 16vw;
    }
  
}
  